.card_img {
  width: 350px;
  height: 200px;
}

.common_box {
  margin-bottom: 30px;
  padding: 24px;
  background: #fff;
  border: 1px solid #EBEBEB;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.text {
  padding: 20px;
}

.info {  padding-top: 20px; color: #0070f3;
}

.info p { text-transform: uppercase; font-weight: bold; }

.load_more_button {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.view, .comment {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  color: black;
}

.icon_text {
  margin-right: 10px;
  color: black;
}

.text a:hover {
  color: red;
}

.text a {
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 30px;

}

.loader {
  text-align: center;
  margin-bottom: 30px;
}
